.in-profile {
    width: 100%;
    padding: 20px 40px;
    justify-content: space-between;
}

.profile-banner-img {
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;

}

.user-profile-banner {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.user-profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.in-profile-data-container {
    width: 100%;
    justify-content: space-between;
}